<div class="blog">
  <div class="row">
    <% for(let i=0; i<blogs.length; i++) { %>
      <div class="col-sm blog-post" data-content="<%= blogs[i].content %>" data-url="/blogs/<%= blogs[i]._id %>">
        <h2 class="blog-title">
          <%= blogs[i].title %>
        </h2>
        <img src="<%= blogs[i].image %>" alt="<%= blogs[i].title %>" class="img-fluid mb-3">
        <p>
          <%= blogs[i].content.substring(0, 100) %>... <a href="/blogs/<%= blogs[i]._id %>" class="read-more">Read
              more</a>
        </p>
        <p>Author: <%= blogs[i].author %>
        </p>
        <p>Published on: <%= blogs[i].date.toLocaleDateString() %>
        </p>
      </div>
      <% } %>
  </div>
  <button id="show-more-blogs" class="mt-3" style="<%= blogs.length <= 3 ? 'display:none' : '' %>"
    data-num-blogs="<%= blogs.length %>">Show more</button>
</div>
<style>
  .blog {
    overflow: auto;
    height: 100%;
  }
</style>
<script>
  $('#show-more-blogs').on('click', function () {
    $('.blog-post:hidden').slice(0, 3).slideDown();
    if ($('.blog-post:hidden').length == 0) {
      $('#show-more-blogs').hide();
    }
  });



  // handle back




</script>